@import 'common/all';
@import 'sections/hero';
@import 'components/card';

body {
    font-family     : 'Lato', sans-serif;
    background-color: black;
    color           : $fuente;
    font-weight     : bold;
    width           : 100vw;
    margin          : auto;
}

footer {
    background-color: rgb(56, 52, 52);
}


header {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

}

.linea1 {
    font-size     : 14px;
    letter-spacing: 2px;


}

.icono {
    font-size    : 40px;
    margin       : 10px;
    border       : 1px solid #F5F5F5;
    color        : #D8D5D5;
    opacity      : 0.5;
    padding      : 3px 40px;
    border-radius: 10px 10px 10px 10px;

}


.seccion2 {
    text-align     : center;
    width          : 100%;
    height         : 250px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

}

.view {
    border       : 2px solid white;
    font-size    : 25px;
    width        : 97px;
    margin       : 30px 0px 24px;
    padding      : 21px;
    border-radius: 10px 10px 10px 10px;
    height       : 23px;
    display      : flex;
    align-items  : center;
}

.linea {
    font-size: 40px;

}

.browse {
    font-size : 40px;
    text-align: center;
    margin-top: 0;
}



.it1 {
    background         : url(../img/shoes.jpg);
    height             : 218px;
    width              : 248px;
    background-size    : cover;
    background-repeat  : no-repeat;
    margin             : auto;
    background-position: 50% 50%;
    padding-top        : 25px;
    margin-top         : 10px;
    margin-top         : 66px;
    display            : flex;
    align-items        : flex-start;
    justify-content    : center;
    font-size          : 30px;

}

.it2 {
    background         : url(../img/jeans.jpeg);
    height             : 300px;
    width              : 248px;
    background-size    : cover;
    background-repeat  : no-repeat;
    margin             : auto;
    background-position: 50% 50%;
    padding-top        : 25px;
    margin-top         : 10px;
    margin-top         : 66px;
    display            : flex;
    align-items        : flex-start;
    justify-content    : center;
    font-size          : 30px;


}

.it3 {
    background         : url(../img/shirts.jpg);
    height             : 300px;
    width              : 248px;
    background-size    : cover;
    background-repeat  : no-repeat;
    margin             : auto;
    background-position: 50% 50%;
    padding-top        : 25px;
    margin-top         : 10px;
    margin-top         : 66px;
    display            : flex;
    align-items        : flex-start;
    justify-content    : center;
    font-size          : 30px;
}

.it4 {
    background         : url(../img/outfits.jpg);
    height             : 612px;
    width              : 248px;
    background-size    : cover;
    background-repeat  : no-repeat;
    margin             : auto;
    background-position: 50% 50%;
    padding-top        : 25px;
    margin-top         : 10px;
    margin-top         : 66px;
    display            : flex;
    align-items        : flex-start;
    justify-content    : center;
    font-size          : 30px;
    margin-bottom      : 25px;
}

.foot {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;

}

.know {
    font-size : 40px;
    text-align: center;
    margin-top: 65px;


}

.us {
    font-size : 40px;
    text-align: center;
    margin-top: 0;

}

.semititulo {
    font-size: 25px;
    margin   : 10px;
}


.negrita {
    font-weight: bold;
}

.spacefooter {
    margin-top   : 48px;
    margin-bottom: 30px;


}

.interlineado {
    line-height: 28px;
    text-align : center;
}

.margintext {
    margin: 0px 45px;
}

.survey {
    border         : 2px solid white;
    border-radius  : 8px 8px 8px 8px;
    margin         : 30px 0px 24px;
    height         : 38px;
    width          : 100px;
    display        : flex;
    align-items    : center;
    justify-content: center;

}

.colorazul {
    color: $azul;

}

.mapa {
    height: 220px;
    width : 300px;
    margin: 30px;


}

.marginstretch {
    margin: 0px 80px;

}

.top {
    margin-top: 20px;

}