@import 'form';
@import 'input';



.sec {
    height: 500px;
    width : 100%;
    margin: 10px;
}

.image {
    height             : 224px;
    margin             : auto;
    background-position: 50% 50%;
    width              : 224px;
    padding-left       : 70px;

}

.card {
    background-color: white;
    width           : 224px;
    margin          : -3px 0px 0px 69px;
    height          : 150px;
    color           : grey;   


}

.producto {
    font-size: 106%;
    display: flex;
}

.star{font-size: 22px;}
