@import 'form';
@import 'input';



.organiza {
    display       : flex;
    flex-direction: column;
    margin        : 0 auto;


    @include web {
        flex-flow      : row wrap;
        width          : 70%;
        justify-content: space-between;
        padding        : 1px 10px;
    }
}

.sec {
    height        : 352px;
    width         : 224px;
    margin        : 10px auto 40px;
    display       : flex;
    flex-direction: column;
    @include web{height: 300px; width: 340px; 

    }

}

.image {
    height: 224px;
    margin: auto;
    width : 224px;

    @include web {
        height: 300px;
        width : 340px;

    }

}

.imagecontainer {
    height: 224px;
    width : 224px; @include web {height: 280px; width: 340px;

    }


}

.card {
    background-color: white;
    width           : 224px;
    height          : 121px;
    color           : rgba(0, 0, 0, 0.5);

    @include web {
        height: 280px;
        width : 340px;

    }

}

.producto {
    font-size      : 106%;
    display        : flex;
    justify-content: space-between;
    padding        : 40px 5px 13px;
    @include web {padding: 5px 5px 0px;}
}

.star {
    font-size   : 22px;
    margin      : 0px;
    padding-left: 5px;
    padding-top : 18px;

}

.stardos {
    font-size   : 22px;
    margin      : 0px;
    padding-left: 5px;

}