@import 'form';
@import 'input';



.sec {
    height: 352px;
    width : 224px;
    margin: 10px auto 40px;
}

.image {
    height: 224px;
    margin: auto;
    width : 224px;

}

.imagecontainer {
    height: 224px;
    width : 224px;

}

.card {
    background-color: white;
    width           : 224px;
    height          : 121px;
    color           : rgba(0, 0, 0, 0.5);

}

.producto {
    font-size      : 106%;
    display        : flex;
    justify-content: space-between;
    padding        : 40px 5px 13px;
}

.star {
    font-size   : 22px;
    margin      : 0px;
    padding-left: 5px;
    padding-top: 18px;

}

.stardos {
    font-size   : 22px;
    margin      : 0px;
    padding-left: 5px;

}